body {
  font-family: "Shrikhand", cursive;
  position: relative;
  transition: 1s ease-in-out;
}

.modals {
  max-width: 500px;
  height: 200px;
  box-shadow: 0px 0px 10px black;
  z-index: 2;
  margin-top: -3rem;
  display: block;
  transition: 1s ease-in-out;
}

.error {
  display: none;
}

.utama {
  max-width: 1000px;
  height: 500px;
  box-shadow: 0px 0px 10px black;
  filter: blur(5px);
  transition: 1s ease-in-out;
}

.no-blur {
  filter: blur(0);
}

input {
  width: 100px;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  transition: 1s ease-in-out;
}

button {
  transition: 1s all;
}

.hasil {
  margin-top: 13rem;
}

.dark-mode {
  max-width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px black;
  cursor: pointer;
}

img {
  width: 35px;
  transition: 1s ease-in-out;
}

.moon {
  margin-top: 43px;
}

/* Dark Mode Class */
.dark {
  background-color: black;
}

.dark-text {
  color: white;
}

.dark-container {
  color: white;
  border: 1px solid white;
  box-shadow: 0px 0px 10px white, 0px 0px 30px white;
}

.dark-button {
  color: white;
  border: 1px solid white;
}

.dark-button:hover {
  background-color: white;
  color: black;
}

.dark-input {
  color: white;
  border-bottom: 1px solid white;
}
